
<!--<div class="card" style="width: 18rem;" *ngFor="let item of items">
    <img class="card-img-top" [src]="item.avatar" alt="{{item.name}}">
    <div class="card-body">
        <ul >
            <li class="list-group-item">Id:{{item.id}}</li>
            <li class="list-group-item">Name:{{item.name}}</li>
            <li class="list-group-item">Price{{item.price}}</li>
            <li class="list-group-item">Quantity:{{item.quantity}}</li>
          </ul>
    </div>
  </div>-->
  <div class="container">
    <div class="card-deck">
    <div class="card" style="width:18rem;" *ngFor="let product of items">
        <img class="card-text" src="../assets/p.jpg" alt="{{product.name}}'s Image" width="20%" height="25%">
        <div class="card-body text-center">
            <h5 class="card-title">{{product.name}}'s Details</h5>
            <p class="card-text">Id : {{product.id}}</p>
            <p class="card-text">quantity : {{product.quantity}}</p>
            <p class="card-text">price : {{product.price}}</p>
            <!--<button (click)="addTopayment(product)">Payment</button>-->
            <button class="middle" (click)="payment()" class="btn btn-outline-success" style="margin-left: 50% ;">PAY NOW</button>
        </div>
    </div>
    
</div>
</div>
