<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Educational details</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2020</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Technology</div>
                                <h4 class="category">Dr. A.I.T.H, Kanpur, Uttar Pradesh 208024</h4>
                                <ul>
                                    <li> Dr. A.I.T.H, Kanpur <b>Affilited with</b> Dr. APJ Abdul Kalam Technical University, Lucknow </li>
                                        <li>Completed B-tech in Electronics Engineering with <b>81.5% </b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2015</p>
                        <div class="h5">Intermediate</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Hindi Medium</div>
                            <h4 class="category">R L Shukla Smarak I C Bakhrauli Gonda</h4>
                            <ul>
                                    <li>Completed 12th with <b>87%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2011-2013</p>
                        <div class="h5">Hgh-school</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Hindi Medium</div>
                                <h4 class="category">Shiv H S S Uska Kalhans Babhnan Basti</h4>
                                <ul>
                                        <li>Completed 10th with <b>82% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                            
</div>     